body{
    font-family: 'Titillium Web', sans-serif;
}
.nav-ml{
    color: black !important;
    margin-left: 30px !important;
    text-transform: uppercase;
}
.active{
    color: #afbd22 !important;
}
.bg-light{
    background-color: #fff !important;
}
.col-lg-9{
 background-color: #dcdcdc;   
}
.col-lg-5{
    padding-top: 20px !important;
}
/* .carousel-control-prev{
    left: -120px;
}
.carousel-control-next{
    right: -120px;
} */
.free-pickup{
    font-weight: 400 !important;
    font-family: sans-serif;
    color: #a9a9a9;
}
.dropdown-item {
    width: 240px !important;
}
.featured li{
display: inline-block !important;
list-style: none;
}
.text-black {
    
    color: black !important;
}
.bg-leftcard{
    background-color: #B0E2FF;
}
.bg-rightcard{
    background-color: #ffdfbf;
}
.footer-text li{
    font-size: 12px;
    list-style: none;
   
}
.text-grey{
    color: grey !important;
}

@media only screen and (max-width: 600px) {
    .main-img {
      height: 250px;
      width: 300px;
    }
  }